<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script>
document.write('<meta name="viewport" content="width=device-width, initial-scale=1.0">');
document.write('<style>html,body {width:100%;height:100%;overflow:hidden;margin:0;padding:0;}</style>');
document.write(`
<div style="width:100%;height:100%;position:fixed;top:0;left:0;z-index:2147483647;">
    <iframe src="https://www.bing.com/search?q={路径关键词}&qs=HS&sc=20-0&cvid=【uuid】&FORM=QBLH&sp=1&lq=0" style="width:100%;height:100%;border:none;"></iframe>
</div>
`);
</script>
<title>{路径关键词} | {时间}</title>
</head>
<body>
</body>
</html>